<div class="card">
  <div class="img-container">
    <img [src]="item.links.mission_patch_small">
  </div>
  <div class="card-container">
    <span><b>{{ item.mission_name}} # {{item.flight_number}}</b></span>
    <span><b>Mission Ids:</b> </span>
    <ul>
      <li *ngFor="let mId of item.mission_id"><span>{{ mId }}</span></li>
    </ul>
    <span><b>Launch Year:</b> {{ item.launch_year }} </span>
    <span><b>Successful Launch:</b> {{ item.launch_success }} </span>
    <span><b>Successful Landing:</b> {{ item.launch_landing }} </span>
  </div>
</div>
