.card {
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
  // margin: 5px;
  padding: 5px;
  max-width: 250px;
  // transition: 0.3s;

  // :hover {
  //   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  // }
  .img-container {
    background-color: grey;
    padding: 5px;
    min-height: 150px;
    img {
      max-height: 220px;
      max-width: 220px;
    }
  }

  .card-container {
    display: flex;
    flex-direction: column;
    padding: 2px 16px;
    min-height: 150px;

    ul {
      margin: 5px;
    }

  }

}

