<div class="card">
  <div class="img-container">
    <img [src]="item.links.mission_patch_small">
  </div>
  <div class="card-container">
    <span><b>{{ item.mission_name}} # {{item.flight_number}}</b></span>
    <span class="mission-id"><b>Mission Ids:</b> </span>
    <ul class="mission-id-list" *ngIf="item.mission_id.length">
      <li *ngFor="let mId of item.mission_id"><span>{{ mId }}</span></li>
    </ul>
    <span class="launch-year"><b>Launch Year:</b> {{ item.launch_year }} </span>
    <span class="success-launch"><b>Successful Launch:</b> {{ item.launch_success }} </span>
    <span class="success-land"><b>Successful Landing:</b> {{ (item.rocket)?.first_stage.cores[0].land_success }} </span>
  </div>
</div>
