@import '../variables';

.flex-container {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  text-align: center;
  margin: auto;
  background-color: lightgrey;

  @include media($tablet) {
    flex-direction: column;
  }

  .sidebar-container{
    width: 15%;

    @include media($small-desktop) {
      width: 25%;
    }

    @include media($tablet) {
      width: 100%;
    }
  }

  .data-container{
    width: 85%;

    @include media($small-desktop) {
      width: 75%;
    }

    @include media($tablet) {
      width: 100%;
    }
  }
}
