<div class="side-bar-container">
  <div class="side-bar">
  <div class="heading">Filters</div>
  <div class="heading-container">
    <span class="sub-heading">Launch Year</span>
    <div class="year-list">
        <span class="year-wrapper">
          <span (click)="selectYear(item)" [ngClass]="{'year-left': i % 2 == 0 , 'year-right': i % 2 !== 0 }" *ngFor="let item of year; let i = index">
            <span [ngClass]="{'active': item === config.year}"> {{ item }} </span></span>
        </span>
    </div>
  </div>

  <div class="heading-container">
    <span class="sub-heading">Successful Launch</span>
    <span class="launch-wrapper">
      <span class="launch-left" (click)="selectLaunch(true)">
        <span [ngClass]="{'active': config.launch === true }">True</span></span>
      <span class="launch-right" (click)="selectLaunch(false)">
        <span [ngClass]="{'active': config.launch === false }">False</span></span>
    </span>
  </div>
  <div class="heading-container">
    <span class="sub-heading">Successful Landing</span>
    <span class="landing-wrapper">
      <span class="landing-left" (click)="selectLanding(true)" >
        <span [ngClass]="{'active': config.landing === true }">True</span></span>
      <span class="landing-right" (click)="selectLanding(false)">
        <span [ngClass]="{'active': config.landing === false }">False</span></span>
    </span>
  </div>
  </div>
</div>

